*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}


@keyframes fadeIn {
    to{
        opacity: 1;
        transform: initial;
    }
}

@keyframes containerMove {
    to{
        opacity: 1;
        /* transform: initial; */
    }
}

@keyframes fadeOut {
    to{
        opacity: 0;
        transform: initial;
    }
}

.fadeInAnimation{
    opacity: 0;
    transform: translateX(-4rem);
    animation: fadeIn .8s forwards;
}

.fadeContainerButton{
    opacity: 1;
    transform: translateX(+14rem);
    animation: containerMove .8s forwards;
}

.fadeButton{
    opacity: 0;
    transform: translateY(-1rem);
    animation: fadeIn .8s forwards;
}

.fadeOutButton{
    opacity: 1;
    transform: translateY(+1rem);
    animation: fadeIn .8s forwards;
}

::-webkit-scrollbar {
    width: 6px;
    height: 0;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5096ff;
  }